html{
    font-family: 'Poppins', sans-serif !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: rgb(255, 72, 0);
    --secondary-color: rgb(255, 30, 0);
    color: white;
}
.section{
    padding: 2em;
}
body, .intro, .wip, .description, .footer{
    background-color: black;
    color: white;
}
button{
    background-color: hsl( 0 0% 100% / 0.02);
    color: white;
    cursor: pointer;
}
button:hover{
    color: var(--primary-color);
}
.content{
    margin-top: 4em;
}

/* Navbar components */
header{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: hsl( 0 0% 100% / 0.02);
    backdrop-filter: blur(2rem);
    font-family: 'Red Hat Display', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: 600;
    color : var(--primary-color);
}
.nav-links ul{
    list-style-type: none;
    display: flex;
}
.nav-links  a, .nav-links span{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}
.nav-links a:hover{
    text-decoration: underline;
    color: var(--primary-color);
    background-color: #555;
}
.nav-toggler{
    position: absolute;
    top: .75rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    cursor: pointer;
}
.nav-toggler .bar{
    height: 3px;
    /* width: 45px; */
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
    /* Switch Component */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: black;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px black;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }

/* Home  Component */
    /* Intro section  */
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-info{
    width: 45%;
}
.author-info span a{
    color: var(--primary-color);
    margin-inline: .3em;
}
.author-info img{
    width: max(40%, 12em);
    border-radius: 50%;
}
.img-prompt{
    width: 45%;
    border: 1px solid yellow;
    padding: .3em;
    text-align: center;
    background-color: #eee;
}
.img-prompt img{
    width: 100%;
}
.img-prompt .description{
    padding-block: .5em;
}
    /* Wip section */
.wip{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wip-image{
    width: 40%;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px 0 rgb(182, 182, 182);
}
.wip-image img{
    width: 100%;
    height: 100%;
}
.wip-description{
    width: 50%;
}

/* Library Component */
.library{
    padding: 2em;
}
.library .library-title{
    font-size: 3em;
    font-weight: 800;
    text-align:center;
    text-decoration:underline;
    color: var(--primary-color);
}
.library .search{
    width: 60%;
    margin:  auto;
}
.library input{
    width: 100%;
    border: 3px solid orange;
    outline: none;
    padding-block: .5em;
    font-size: 1em;
    margin-top: 1em;
    color: black;
}
.library .poem-map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    gap: 2em;
    border: 2px solid orangered;
    width: 80%;
    margin: 5em  auto 0;
    text-align: center;
    padding: 1em;
}
.library .poem-details{
    border: 1px solid white;
}
.library .poem-map img{
    width: 90%;
}



/* Interactivity Component */
.poemOTWeek{
    width: 50%;
    margin: 1em auto;
    border: 3px solid white;
    padding: 1em;
}
.slideshow-container{
    border: 1px solid yellow;
}
.mySlides img{
    width: 100%;
}

/* Create component */
.create-post{
    width: 50%;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    padding: 1em;
    background-image: url("images/yemiweb.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.create-post h1{
    text-align: center;
    text-transform: uppercase;
}
.create-post label{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.create-post input:not(.submit), textarea{
    width: 100%;
    padding-block: 1em;
    margin-bottom: 3em;
    font-size: 1rem;
    background-color: rgb(0, 0, 0, 0.6);
}
.create-post input:focus, textarea:focus{
    outline: 1px solid hsla(12, 100%, 27%, 0.945);
    border: none;
}
textarea{
    height: 25em;
}
/* Footer component */
footer{
    text-align: center;
    margin-block-start: 1em;
}
footer .social-icons{
    display: flex;
    justify-content: space-evenly;
    padding-inline: 1em;
}
 .social-icons a{
    font-size: 2em;
}
.social-icons + p{
    font-size: 2rem;
    font-weight: 800;
}
.fa-facebook-square{
    color: blue;
  }
  .fa-instagram{
    color: rgb(105, 11, 105);
  }
  .fa-pinterest{
    color: rgb(226, 29, 29);
  }
  .fa-twitter{
    color: rgb(11, 11, 66);
  }



@media screen and (min-width: 700px) {
    .nav-links ul{
        align-items: center;
    }
}

/* Media queries for mobile devices */
@media screen and (max-width: 700px) {
    /* Nav styles */
    nav{
        padding: 1em;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .nav-toggler{
        display: flex;
    }
    .nav-links{
       width: 100%;
       display: none;
    }
    .nav-links ul{
        margin-top: 1em;
        flex-direction: column;
        width: 100%;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links a{
        border-top: 1px dashed whitesmoke;
    }
    .nav-links a:hover{
        text-decoration: none;
    }
    .nav-links.active{
        display: flex;
    }

    /* Home styles */
    /* Intro styles */
    .intro{
        flex-direction: column;
        gap: 2em;
    }
    .author-info, .img-prompt{
        width: 100%;
    }
    /* Wip styles */
    .wip{
        flex-direction: column;
        gap: 2em;
    }
    .wip-image{
        width: 100%;
    }
    .wip-description{
        width: 100%;
    }
    .poemOTWeek{
        width: 80%;
    }

    /* Library */
    .library .search{
        width: 100%;
    }
    .library .poem-map{
        width: 100%;
        grid-template-columns:  1fr;
    }

    /* Create */
    .create-post{
        width: 95%;
    }

    /* Footer */
    .social-icons + p{
        font-size: 1rem;
        font-weight: 300;
    }
}